.conteudo-principal{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("https://i.ibb.co/gjtpXPy/back.png");
    background-position: center;
    background-size: cover;

    overflow: hidden;
}

.conteudo{
    max-width: 900px;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    line-height: 25px;
    flex-direction: column;
    padding: 20px;
    backdrop-filter: blur(3px);

    color: white;
    font-size: 1.2rem;
}

.lista{
    display: flex;
    gap: 50px;
    margin-top: 2%;

    .tag-link{
        text-decoration: none;
    }
}

.lista .link{
    color: #fff;
    font-weight: bold;
    list-style-type: none;
    background-color: #a83aa6;
    padding: 7px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #a83aa6;
    transition: all .2s ease-in-out;
}

.lista .link:hover{
    transform: scale(1.09);
    background-color: #000;
    color:#a83aa6;
}

@media (max-width: 768px){
    .conteudo{
        width: 670px;
        backdrop-filter: blur(3px);
    }

    .lista .link{
        margin-top: 5%;
        font-size: 0.9rem;

    }
}

@media (max-width: 425px){
    .conteudo{
        width: 670px;
        font-size: 0.8rem;
        line-height: 17px;
        backdrop-filter: blur(3px);
    }

    .lista{
        flex-direction: column;
        gap: 25px;
    }
}
